
    <a class="github-fork-ribbon" href="https://github.com/ModelDepot/tfjs-yolo-tiny-demo" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">
    Fork me on GitHub </a>
    <div class="wrapper">
        <div id="loading-message"> Loading Robots to see you (This may take a minute, 40mb)...
        <div id="error-message" style="display:none"> Sorry! An error occured while loading the model 😢
            <br> If you're on an iPhone, please try using Safari. </div>
        <div id="success-message" style="display:none"> Point me at something, but please be a bit patient while I try to figure out what it is! (Ex. person, keyboard, cell
            phone, car, pet, etc.) </div>
        <div class="webcam-ui-container">
            <div id="webcam-wrapper" style="display:none">
                <video autoplay playsinline="" muted id="webcam" width="416" height="416"> </video>
            </div>
        </div>
    </div>
        